extends ../main.pug

block content
  p#bio.
    Greetings, my name is Michael Curry and I am an amateur web developer. It all started during 
    my last endevor, which was electronic music production. I was intrigued at how advanced the 
    software synthesisers were. I started looking into programming as I wanted to make my own 
    virtual instrument. I chose Python to start with because of its natural syntax and easy
    learning curve. After conquering the fundamentals, I quickly tried to apply my skills on 
    personal projects. To no avail, most of them never left the ground, as I had no idea where 
    to start. After seeing how straightforward HTML5 was, I decided to venture into the world of 
    web development. Working with Python, Django and Flask were my best options. I gave both a try,
    but not understanding core fundamentals of the web led to frustration and defeat. I was close to 
    giving up when a new path  appeared. Eloquent JavaScript, an ebook available for free at 
    www.eloquentjavascript.com, was my first taste of what will soon become my favorite programming 
    language to date. Learning a second language gave me better insight into programming fundamentals. 
    Javascript just clicked! With a new tool at my expense, I was itching to use it. I came across Node.js 
    and from there, Express, React, MongoDB and many others. Flashforward a year and I am starting to 
    break out of the learning cycle and am applying my knowledge. This site, as well as other 
    projects on my github are composed of primarily JavaScript using the MERN stack. I have spent
    the most time learning server side technologies such as databases, authentication, and RESTful APIs.
    I am currently rounding out my skill set to include React, SASS, and Semantic UI.   