doctype html
html
head
  link(rel="stylesheet", href="/css/main.css")
  title Mike's Site
body
  .container1
    .quotes
      h2.
        Get your idea in the Cloud
    include ./partials/menu.pug
    .content.container2
      block content